/* styles for media link button type */

.button {
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  font-weight:normal;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.1) inset;
  padding:0px;
  word-break: break-word;
  line-height: normal;
  cursor: pointer;
  display: inline-block;
}

.button.blue {
    background-color: #077AB3;
    background-image: -moz-linear-gradient(center top , #087FB6, #0573AE);
    box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF!important;
}

.button.blue:hover {
    background-color: #2C8EBF;
    background-image: -moz-linear-gradient(center top , #2D92C2, #2A88BA);
}

.button.blue:active {
    background-color: #0677B2;
    background-image: -moz-linear-gradient(center top , #0572AE, #087FB7);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}

.button.white {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(center top , #FBFBFB, #F9F9F9);
  color: #718895;
    border: 1px solid #E2E2E2;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
}
.button.white:active, .button.white:hover {
    background-color: #E9E9E9;
    border: 1px solid #E0E0E0;
}
  
.button.orange {
  background-color: #FE9709;
  background-image: -moz-linear-gradient(center top , #FE9B0A, #FE9107);
  color: #FFFFFF;
}

.button.orange:hover {
    background-color: #FEA72E;
    background-image: -moz-linear-gradient(center top , #FEAB2F, #FEA12C);
}

.button.orange:active {
    background-color: #FE9508;
    background-image: -moz-linear-gradient(center top , #FE9107, #FE9C0A);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}

.button.gray {
    background-color: #748A96;
    background-image: -moz-linear-gradient(center top , #788E9A, #6D838F);
    box-shadow: 0 -3px 1px rgba(92, 111, 122, 0.8) inset;
    color: #FFFFFF;
}

.button.gray:hover {
    background-color: #788E9A;
    background-image: -moz-linear-gradient(center top , #788E9A, #788E9A);
}

.button.gray:active {
    background-color: #718793;
    background-image: -moz-linear-gradient(center top , #6D838F, #788E9A);
    box-shadow: 0 2px 1px rgba(92, 111, 122, 0.8) inset;
}


.button {
  min-width:115px;
  max-width:115px;
  padding: 9px 0;
}

.button.small {
  min-width:102px;
  max-width:102px;
  padding:7px 0px!important;
}

.button.default {
  min-width:115px;
  max-width:115px;
  padding: 9px 0;
}

.button.big {
  min-width:131px;
  max-width:131px;
  padding: 16px 0;
  font-size:1.2em;
}

.button.long {
  min-width:458px;
  max-width:458px;
  padding:8px 0;
  font-size:.8em;
  font-weight:normal;
}

.button.variableWidth {
  padding: 10px;
  min-width: none;
  max-width: none;
  width:auto;
  font-weight: normal;
}

div.menu.list .button {
  margin: 0px 0px 5px 0px;
  text-indent: initial;
}

.login-nav .button.default.orange,
.modular-page section.call-for-action .button.big { 
  min-width: initial; max-width: initial; 
}
